html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  font-family: Georgia, serif;
  position: relative;
  min-height: 100%;
}

body {
  font-family: Georgia, serif;
  margin-bottom: 60px;
}

.header-buttons,
.article-searching {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.searching-input {
  margin-right: 16px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 512px;
}

.no-articles {
  font-size: 32px;
  margin-top: 128px;
  display: flex;
  justify-content: center;
}

.articles {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-article {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 60%;
}

.article-props {
  cursor: pointer;
}

.article-category {
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.article-title {
  font-size: 28px;
  display: block;
}

.article-author-date {
  display: block;
}

.article-trimmed-content {
  white-space: nowrap; /* Текст будет обрезаться в одну строку */
  overflow: hidden; /* Скрыть обрезанную часть текста */
  text-overflow: ellipsis; /* Добавить троеточие для обрезанной части */
}

.article-content {
  word-wrap: break-word;
}

.continue-reading {
  color: blue;
  cursor: pointer;
}

.continue-reading:hover {
  color: #258cfb;
  text-decoration: underline;
}

.article-delete {
  display: flex;
  justify-content: flex-end;
}